label {
	margin: 0;
	padding: 0;
}
.serif {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
}
.s_serif {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: right;
}
.small {
	font-size: 14pt;
}
.large {
	font-size: 18pt;
}