body {
    text-align: left;
    font-weight: normal;
    overflow: auto;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    color: #444;
    background: #FFF;
    position: relative;
}
body:before {
    content: 'Contrast checker';
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
}

#contrastCheckerWrapper {
    width: 98%;
    padding: 5px 1%;
}

html, body {
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: inherit;
}
caption {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 3px;
    text-align: left;
    font-size: 1.1em;
}
th, td {
    vertical-align: top;
    padding: 4px 0;
}

th {
    text-align: left;
}
.results-container tbody tr {
    cursor: pointer;
}
td:first-child {
    width: 18px;
}

td.sample {
    padding: 4px;
    text-align: center;
}

td.sample:before {
    content: '';
    display: inline-block;
    border-radius: 6px;
    border: 6px solid;
}

tr.expanded ul {
    display: block;
}

tr ul {
    display: none;
}

table ul,
table li {
    margin: 0;
    padding: 0;
    list-style: none;
}

table li {
    position: relative;
    font-weight: normal;
    font-size: 1em;
    color: #444;
    margin: 1px 0;
    padding: 0 5px 0 25px;
    background: url(icons/tree_b.gif) 3px top no-repeat;
    line-height: 1.4;
}

table li:nth-last-child(1) {
    background-image: url(icons/tree_c.gif);
}

thead tr {
    background-color: #DDDDDD;
}

tbody tr:nth-child(2n) {
    background-color: #EFEFEF;
}

.contrast-value {
    padding-left: 20px;
    font-weight: bold;
}

.AA tr.validAA .contrast-value,
.AAA tr.validAAA .contrast-value {
    background: transparent url(icons/ok.png) left 2px no-repeat;
}

.AA tr.invalidAA .contrast-value,
.AAA tr.invalidAAA .contrast-value {
    background: transparent url(icons/error.png) left 2px no-repeat;
}

.navigation-bar {
    text-align: right;
}

#refresh,
#closer {
    display: inline-block;
    margin: 2px;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .6;
    text-indent: -5000px;
}

#refresh:hover,
#refresh:focus,
#closer:hover,
#closer:focus {
    opacity: .9;
}

#refresh {
    background: center/contain no-repeat url(./icons/refresh.png);
}

#closer {
    background: center/contain no-repeat url(./icons/close.png);
}

.collapser {
    display: block;
    padding: 2px 0 4px 8px;
    cursor: pointer;
}

.expanded .collapser {
    padding: 5px 0 4px 5px;
    cursor: pointer;
}
.collapser:before{
    content: '';
    display: inline-block;
    border: 5px solid;
    border-color: transparent transparent transparent #000;
}
.expanded .collapser:before{
    border-color: #000 transparent transparent;
}

.color-tools {
    width: 100%;
}

.color-tool {
    float: left;
    width: 50%;
}

.color-tool label{
    display: block;
}

.color-tool input{
    height: 25px;
    vertical-align: middle;
}

.color-tool input[type=text]{
    width: 80%;
}

.color-tool input[type=color]{
    width: 20%;
}
.color-tools #exampleText {
    clear: both;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}