html, body {
    padding: 0;
    margin: 0;
}

body {
    text-align: left;
    font-weight: normal;
    overflow: auto;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    color: #444;
    background: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body:before {
    content: 'WCAG 2.0 - Contrast checker';
    position: absolute;
    top: 0;
    left: 1%;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
}

#contrastCheckerWrapper {
    background: #FFFFFF;
    width: 98%;
    flex-shrink: 1;
    flex-grow: 2;
    overflow-y: auto;
    border: 1px #DDD solid;
    box-sizing: border-box;
    margin: 3px auto;
    border-top: none;
    padding-top: 10px;
}

#visibleElementsTab, #hiddenElementsTab {
    font-weight: normal;
    font-size: 1em;
    color: #444;
    background-color: #FFF;
    display: inline-block;
    line-height: 24px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border: solid #CCC;
    border-width: 1px 1px 0;
    box-sizing: border-box;
}

#visibleElementsTab.active,
#hiddenElementsTab.active {
    background-color: #DDD;
    font-weight: normal;
    font-size: 1em;
    color: #444;
}

.tab:focus {
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: inherit;
}

th, td {
    vertical-align: top;
    padding: 4px 0;
}

th,
.color-tools td {
    text-align: left;
    text-indent: 6px;
}

th[colspan="4"] {
    width: 100%;
}

.single-validation {
    background: #FFFFFF;
    border: 1px #DDD inset;
    box-sizing: border-box;
    margin: 10px auto;
}

.results-container {
    margin: 0 0 10px;
}

.results-container tbody {
    display: none;
}

.results-container .empty {
    text-align: center;
    background: #FFF;
}

.results-container tbody.shown {
    display: table-row-group;
}

.results-container tbody tr {
    cursor: pointer;
}

.results-container td:last-child {
    width: 200px;
}

td:first-child {
    width: 18px;
}

td.font-size {
    padding-left: 5px;
    padding-right: 5px;
}

td.elements-counter {
    text-align: right;
    padding-right: 4px;
    width: 20px;
}

td.sample {
    padding: 6px 4px 4px;
    text-align: center;
}

td.sample:before {
    content: '';
    display: inline-block;
    border-radius: 6px;
    border: 6px solid;
}

tr.expanded ul {
    display: block;
}

tr ul {
    display: none;
}

table ul,
table li {
    margin: 0;
    padding: 0;
    list-style: none;
}

table li {
    position: relative;
    font-weight: normal;
    font-size: 1em;
    color: #444;
    margin: 0;
    padding: 0 5px 0 25px;
    background: url(icons/tree_b.gif) 3px top no-repeat;
    line-height: 1.4;
}

table li:nth-last-child(1) {
    background-image: url(icons/tree_c.gif);
}

thead tr {
    background-color: #DDDDDD;
}

tbody tr:nth-child(2n) {
    background-color: #EFEFEF;
}

tbody tr:hover,
tbody tr:focus {
    background-color: rgb(235, 242, 249);
}

tbody tr:focus {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}

.contrast-value {
    padding-left: 20px;
    padding-right: 5px;
    font-weight: bold;
}

.AA tr.validAA .contrast-value,
.AAA tr.validAAA .contrast-value,
.single-validation .single-validation-AA-small.valid,
.single-validation .single-validation-AA-large.valid,
.single-validation .single-validation-AAA-small.valid,
.single-validation .single-validation-AAA-large.valid {
    background: transparent url(icons/ok.png) left 3px no-repeat;
}

.AA tr.invalidAA .contrast-value,
.AAA tr.invalidAAA .contrast-value,
.single-validation .single-validation-AA-small,
.single-validation .single-validation-AA-large,
.single-validation .single-validation-AAA-small,
.single-validation .single-validation-AAA-large {
    background: transparent url(icons/error.png) left 3px no-repeat;
}

.navigation-bar {
    width: 100%;
    padding: 3px 1%;
    box-sizing: border-box;
    margin: auto;
    text-align: right;
    background-color: #DDDDDD;
}

.selector-bar {
    text-align: right;
    width: 98%;
    margin: 0 auto;
}

.selector-bar label {
    float: right;
    width: 98%;
    clear: both;
    margin: 0 auto 5px;
}

#info,
#refresh,
#closer {
    display: inline-block;
    margin: 2px;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .6;
    text-indent: -5000px;
}

#info:hover,
#info:focus,
#refresh:hover,
#refresh:focus,
#closer:hover,
#closer:focus {
    opacity: .9;
}

#info {
    background: center/contain no-repeat url(./icons/info.png);
}

#refresh {
    background: center/contain no-repeat url(./icons/refresh.png);
}

#closer {
    background: center/contain no-repeat url(./icons/close.png);
}

.collapser {
    display: block;
    padding: 2px 0 4px 8px;
    cursor: pointer;
}

.expanded .collapser {
    padding: 5px 0 4px 5px;
    cursor: pointer;
}

.collapser:before {
    content: '';
    display: inline-block;
    border: 5px solid;
    border-color: transparent transparent transparent #000;
}

.expanded .collapser:before {
    border-color: #000 transparent transparent;
}

.color-tools {
    background: #FFFFFF;
    width: 98%;
    border: 1px #DDD inset;
    border-top: none;
    box-sizing: border-box;
    margin: 3px auto;
}

.color-tools .color-input {
    width: 98%;
    margin: 5px auto;
}

.color-tool {
    display: inline-block;
    margin: 0 1% 0 0;
    width: 49%;
}

.color-tool + .color-tool {
    margin: 0 0 0 1%;
}

.color-tool label {
    font-weight: bold;
    display: block;
}

.color-tool input {
    height: 25px;
    vertical-align: middle;
}

.color-tool input[type=text] {
    width: 80%;
}

.color-tool input[type=color] {
    width: 20%;
    padding: 0;
    border: none;
}

.color-tools #exampleText {
    width: 100%;
    margin: 10px auto;
    border: 1px dotted;
    box-sizing: border-box;
    clear: both;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.color-tools .single-validation th,
.color-tools .single-validation td {
    text-align: center;
    width: 25%;
    background-position: center 3px !important;
}

.description{
    margin: 5px 10px;
    display: none;
}