label {
	font-weight: bold;
	background: #D0D0D0;
	margin: 5px 0 0;
	padding: 2px;
}
#miniatura label,
#menuDoc label {background-color:transparent}
popup {
 background-color: #F2F1F0;
 }

#optColorChecker {
	padding: 10px;
}
#optColorChecker label {
	font-weight: normal !important;
	padding-left: 30px !important;
}
tabs label,
tab label {
	padding-left: 0 !important;
}
#optColorChecker label.notab,
#optColorChecker menupopup label,
#optColorChecker menulist label,
#optColorChecker menuitem label{
	font-weight: bold !important;
	padding-left: 0 !important;
	margin: 0 !important
}
#optColorChecker label.notab.especial {
	display: block !important;
	margin-top: 10px !important;
	padding-top: 10px !important;
	border-top: 1px solid
}
#optColorChecker .especial {
	margin-top: 5px !important;
	border-top: 1px solid;
}
#optColorChecker .especial label {
	padding-left: 0 !important;
}
#Color tabs label {
	font-weight: bold;
}
#Color tabbox tabbox tabs label {
	font-weight: normal;
}

.subtest label,
#optColorChecker label {
	font-weight: normal;
	background: transparent;
	margin: auto;
}
.caja_color {
	text-align: center;
}
.caja_color label.tit{
	padding: 0 2px 14px 0;
}
label.current,
label.modo{
	font-weight: bold;
}
#protanopia vbox  label,
#deuteranopia vbox label,
#tritanopia  vbox label{
	font-weight: normal;
	border-bottom: none !important;
}
.caja_color label.caption {
	padding-top: 5px;
	text-align: left;
	background: transparent url(../img/despl.png) 99% 50% no-repeat;
}
.caja_color label.caption.despl {
	background: transparent url(../img/pl.png) 99% 50% no-repeat;
}
.current {
	background: transparent url(../img/current.png) 0 50% no-repeat !important;
}
.caja_color .caption,
.caja_color .cabeceras{
	font-weight: bold !important;
}
.caja_color .cabeceras,
#protanopia vbox  label.cabeceras,
#deuteranopia vbox label.cabeceras,
#tritanopia  vbox label.cabeceras{
	border-bottom: 1px solid #DDD !important;
}
#contr_AAg,#contr_AAp,#contr_AAAg,#contr_AAAp,#contr_bri,#contr_col,
#contr_AAg_prota,#contr_AAp_prota,#contr_AAAg_prota,#contr_AAAp_prota,#contr_bri_prota,#contr_col_prota,
#contr_AAg_deute,#contr_AAp_deute,#contr_AAAg_deute,#contr_AAAp_deute,#contr_bri_deute,#contr_col_deute,
#contr_AAg_trita,#contr_AAp_trita,#contr_AAAg_trita,#contr_AAAp_trita,#contr_bri_trita,#contr_col_trita {
/*	font-weight: bold;*/
}
.texto_ejemplo {
	padding: 4px 0 2px;
	text-align: center;
	font-size: 1em;
/*	font-weight: bold !important;*/
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #CCC;
}
#caja_ejemplo_color,
#caja_ejemplo_color_el,
#caja_ejemplo_color_prota,
#caja_ejemplo_color_deute,
#caja_ejemplo_color_trita {
/*	padding-bottom: 2px;*/
	border: 1px solid #DDD;
}
#texto_ejemplo,
#texto_ejemplo_disc {padding: 3px 0}
#jarl {
	margin: 2px 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
#camps{
	margin-top: 4px;
}
#generico {
	border: 1px outset;
	margin: 5px 0 10px;
}
#vnormal,
#anomalias{
	padding-bottom: 2px;
	border-bottom: 1px solid #CCC;
	text-align: center;
}
#caja_ejemplo_color label.texto_ejemplo,
#caja_ejemplo_color_el label.texto_ejemplo,
#caja_ejemplo_color_prota label.texto_ejemplo,
#caja_ejemplo_color_deute label.texto_ejemplo,
#caja_ejemplo_color_trita label.texto_ejemplo {
	background-color: #FFF;
	color: #000;
}
label.withMenulist,
label#contr_bri,
label#contr_col,
label#contr_bri_prota,
label#contr_col_prota,
label#contr_bri_deute,
label#contr_col_deute,
label#contr_bri_trita,
label#contr_col_trita {
	padding: 2px 0;
}	
.ok {
	background: transparent url(../img/ok.png) 0% 50% no-repeat !important;
	padding-left: 20px;
}
.error {
	background: transparent url(../img/error.png) 0% 50% no-repeat !important;
	padding-left: 20px;
}
.group {
	border-left: 1px solid #999;
}
#anor,
#anor label {
	height: 20px;
	text-align: center;
}

#protanopia,
#deuteranopia,
#tritanopia {
	margin-bottom: 5px;
}
#protanopia label,
#deuteranopia label,
#tritanopia  label{
}

#oculto {
	display: none;
}
/*
treechildren::-moz-tree-line {
	border: 1px dotted #666;
	visibility: visible;
}
.wcag2 treechildren::-moz-tree-row(ok){
	background-color: #ADEACD;
}
.wcag2 treechildren::-moz-tree-row(sub_ok){
	background-color: #DBF9F3;
}
.wcag2 treechildren::-moz-tree-row(error){
	background-color: #FF7575;
}
.wcag2 treechildren::-moz-tree-row(sub_error){
	background-color: #FFA9A9;
}
treechildren::-moz-tree-cell(ok){
	background-color: green
}
treechildren-text::-moz-tree-cell(ok){
}
treechildren::-moz-tree-cell(error){
	background-color: red
}
treechildren-text::-moz-tree-cell(error){
}
*/
